<!-- Footer -->
            <div class="row footer">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-3">
                      <h4>Recent Posts</h4>
                        <ul>
                        {% for post in site.posts limit:4 %}
                          <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                      <h4>Github Repositories</h4>
                      <ul>
                      {% if site.github_username %}
                        <li>
                          <a href="https://github.com/{{ site.github_username }}">
                            <span class="username">{{ site.github_username }}</span>
                          </a>
                        </li>
                        {% endif %}
                      </ul>
                    </div>
                    <div class="col-md-3 col-md-offset-1">


                      <h4>Powered by</h4>
                      <a href="http://www.pearlchain.net/" title="PearlChain.net"><img src="/powergrid/images/logo_wit_transparant.png" height="30" /></a>

                      
                      </div>
                  </div>
              </div>
              <div class="col-md-1"></div>
            </div>
          <!-- End Footer -->
