.powergrid {
	position: relative;
	height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cell, .columnheader {
    position: absolute;
    display: inline-block;
	border-top: 1px solid rgba(0,0,0,0.2);
	padding: 5px 8px;
	overflow: hidden;
    box-sizing: border-box;
    cursor: default;
}

.row {
    height: 31px;
	white-space: nowrap;
    box-sizing: border-box;
    position: relative;
}

.cell.pg-editing > input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
}

.cell {
    height: 100%;
    background: rgb(240,240,240);
}

.cell.pg-editable {
    background: white;
    cursor: text;
}

.row.headerrow,
.columnheader {
    background-color: rgb(134, 118, 118);
    color: white;
    font-weight: bold;
}

.columnheader {
    cursor: move;
}

.fixed.left .columnheader > .pg-resizehandle,
.scrolling .columnheader > .pg-resizehandle {
    right: 0px;
}

.fixed.right .columnheader > .pg-resizehandle {
    left: 0px;
}

.columnheader > .pg-resizehandle {
    position: absolute;
    display: block;
    border-right: 2px dotted #AAA;
    box-sizing: border-box;
    width: 5px;
    height: 100%;
    top: 0px;
    cursor: col-resize;
}

.powergrid > .scrolling {
	position: absolute;
	width: 100%;
    overflow: scroll;
    z-index: 2;
    border-top: 2px solid rgba(0, 0, 0, 0.27);
    background: white;
}

.powergrid > .header,
.powergrid > .footer {
	position: absolute;
	width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    background: white;
}

.powergrid > .header::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.powergrid .header {
    top: 0px;
    z-index: 1;
}

.powergrid .footer {
    bottom: 0px;
    border-top: 2px solid rgba(0, 0, 0, 0.27);
    z-index: 3;
}

.container {
    background: white;
}

.powergrid > div > .container.fixed {
    box-sizing: content-box;
	position: absolute;
	overflow: hidden;
    z-index: 1;
}

.powergrid > div > .container.fixed.left {
    left: 0px;
	border-right: 2px solid rgba(0, 0, 0, 0.27);
}

.powergrid > div > .container.fixed.right {
    right: 0px;
	border-left: 2px solid rgba(0, 0, 0, 0.27);
}

.powergrid > div > .container.scrolling {
	position: absolute;
    left: 0px;
    right: 0px;
	top: 0px;
	white-space: nowrap;
}

.columndragging {
    z-index: 10;
    position: relative;
    opacity: 0.8;
}