body {
    font-family: sans-serif;
}

.powergrid {
	position: relative;
	height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cell, .columnheader {
    position: absolute;
    display: inline-block;
	border-top: 1px solid rgba(0,0,0,0.2);
	padding: 5px 8px;
	overflow: hidden;
    box-sizing: border-box;
    cursor: move;
}

.row {
    height: 31px;
	white-space: nowrap;
    box-sizing: border-box;
}

.cell {
    background: white;
}

.row.headerrow,
.columnheader {
    background-color: rgb(220,220,220);
}

.fixed.left .columnheader:after,
.scrolling .columnheader:after {
    right: 0px;
}

.columnheader:after {
    content: '';
    position: absolute;
    display: block;
    border: 1px outset #AAA;
    box-sizing: border-box;
    width: 5px;
    height: 100%;
    top: 0px;
    cursor: col-resize;
}

.fixed.right .columnheader:after {
    left: 0px;
}

.powergrid > .scrolling {
	position: absolute;
	width: 100%;
    overflow: scroll;
    z-index: 2;
    border-top: 2px solid black;
    background: white;
}

.powergrid > .header,
.powergrid > .footer {
	position: absolute;
	width: 100%;
    overflow-x: scroll;
    overflow-y: visible;
    background: white;
}

.powergrid .header {
    top: 0px;
    z-index: 1;
}

.powergrid .footer {
    bottom: 0px;
    border-top: 2px solid black;
    z-index: 3;
}

.container {
    background: white;
}

.powergrid > div > .container.fixed {
    box-sizing: content-box;
	position: absolute;
	overflow: hidden;
    z-index: 1;
}

.powergrid > div > .container.fixed.left {
    left: 0px;
	border-right: 2px solid black;
}

.powergrid > div > .container.fixed.right {
    right: 0px;
	border-left: 2px solid black;
}

.powergrid > div > .container.scrolling {
	position: absolute;
    left: 0px;
    right: 0px;
	top: 0px;
	white-space: nowrap;
}

.columndragging {
    z-index: 10;
    position: relative;
    opacity: 0.8;
}