@font-face {
    font-family: "Glyphicons Halflings";
    src: url("glyphicons-halflings-regular.woff") format('woff');
}

.powergrid {
	position: relative;
	height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pg-scroller {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: scroll;
}

.pg-cell {
    position: absolute;
    display: inline-block;
	border-top: 1px solid rgba(0,0,0,0.2);
	padding: 5px 8px;
    box-sizing: border-box;
    cursor: default;
    height: 100%;
    overflow: hidden;
}

.powergrid > .pg-columnheaders {
    top: 0px;
    z-index: 2;
}

.pg-row.pg-headerrow,
.pg-columnheader {
    background-color: rgb(134, 118, 118);
    color: white;
}

.pg-columnheader {
    cursor: move;
    position: absolute;
    cursor: default;
    display: inline-block;
}

.pg-columnheader > .pg-resizehandle {
    position: absolute;
    display: block;
    border-right: 2px dotted #AAA;
    box-sizing: border-box;
    width: 5px;
    height: 100%;
    top: 0px;
    cursor: col-resize;
    transition: 0.5s ease;
}

.pg-columnheader > span {
    display: inline-block;
    height: 31px;
    padding: 7px 8px;
    box-sizing: border-box;
}

.pg-fixed.pg-right .pg-columnheader > .pg-resizehandle {
    border-left: 2px dotted #AAA;
    border-right: none;
}

.pg-columnheader > .pg-resizehandle:hover {
    border-color: #FFF;
}

.pg-sorter {
    position: absolute;
    display: inline-block;
    width: 0px;
    height: 0px;
    border: solid;
    border-width: 7px 4px;
    top: 10px;
    right: 10px;
    border-color: transparent;
}

.pg-filter-box {
    position: relative;
    left: 0px;
    right: 0px;
}

.pg-filter-box > input.pg-filter-input {
    width: 100%;
    box-sizing: border-box;
    padding-left: 19px;
    margin: 0;
}

.pg-filter {
    position: absolute;
    color: black;
    font-family: "Glyphicons Halflings";
    left: 5px;
    top: 4px;
    cursor: default;
}

.pg-filter:before {
    position: absolute;
    left: 0px;
    top: 0px;
    content: "\e138";
    font-size: 0.8em;
}

.pg-filter-pane {
    position: absolute;
    z-index: 1000;
    background: white;
    margin-top: 20px;
    margin-left: 7px;
    border-radius: 0px 10px 10px 10px;
    box-shadow: 0px 6px 20px 10px rgba(0,0,0,0.3);
    background-color: #867676;
    color:white;
}

.pg-filter-pane:before {
    position: absolute;
    content: '';
    display: block;
    top: -12px;
    left: 0px;
    width: 0px;
    height: 0px;
    border: 6px solid #867676;
    border-top-color: transparent;
    border-right-color: transparent;
}

.pg-sort-ascending .pg-sorter {
    top: 4px;
    border-color: transparent transparent white transparent
}

.pg-sort-descending .pg-sorter {
    top: 11px;
    border-color: white transparent transparent transparent
}

.pg-grouper {
    position: relative;
    height: 20px;
    width: 100%;
}

.pg-row {
    white-space: nowrap;
    box-sizing: border-box;
    position: relative;
    transition: height 0.5s ease;
    overflow: hidden;
}

.pg-columnheaders .pg-row {
    overflow: inherit;
}

.cell.pg-editing > input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
}

.pg-inner-row {
    background: inherit;
    position: absolute;
    z-index: 2;
}

.pg-subview {
    position: absolute;
    z-index: 1;
    bottom: 0px;
}

@-webkit-keyframes debug {
    from {
        background-color: green;
    }
    to {
        background-color: white;
    }
}

.pg-cell {
    background: rgb(240,240,240);
}

.pg-debug .pg-cell {
    -webkit-animation: debug 1s;
}

.pg-cell.pg-editable {
    background: white;
    cursor: text;
}

.pg-hover .pg-cell {
    background-color: #DED1D1;
}

.pg-fixed.pg-left .pg-columnheader > .pg-resizehandle,
.pg-scrolling .pg-columnheader > .pg-resizehandle {
    right: 0px;
}

.pg-fixed.pg-right .pg-columnheader > .pg-resizehandle {
    left: 0px;
}

.powergrid > .pg-scrolling {
	position: absolute;
    overflow: hidden;
    z-index: 2;
    border-top: 2px solid rgba(0, 0, 0, 0.27);
    background: white;
}

.powergrid > .pg-rowgroup {
	position: absolute;
    overflow: hidden;
    background: white;
}

.powergrid > .pg-header {
    z-index: 1;
}

.powergrid > .pg-footer {
    border-top: 2px solid rgba(0, 0, 0, 0.27);
    z-index: 3;
}

.powergrid > div > .pg-container.pg-fixed {
    box-sizing: content-box;
	position: absolute;
    z-index: 1;
}

.powergrid > div > .pg-container.pg-fixed.pg-left {
    left: 0px;
	border-right: 2px solid rgba(0, 0, 0, 0.27);
}

.powergrid > div > .pg-container.pg-fixed.pg-right {
    right: 0px;
	border-left: 2px solid rgba(0, 0, 0, 0.27);
}

.powergrid > div > .pg-container.pg-scrolling {
	position: absolute;
    left: 0px;
    right: 0px;
	white-space: nowrap;
}

.pg-columndragging {
    z-index: 10;
    position: relative;
    opacity: 0.8;
}

.pg-treetoggle,
.pg-treeleaf,
.pg-subview-toggle {
    width: 11px;
    height: 11px;
    position: relative;
    margin-right: 10px;
    cursor: default;
    display: inline-block;
}

.pg-treetoggle,
.pg-subview-toggle-default {
    background-image: url('./expand.svg');
    background-size: 11px 11px;
    background-position: center center;
}

.pg-treetoggle.pg-tree-expanded,
.pg-subview-toggle-default.pg-subview-expanded {
    background-image: url('./collapse.svg');
}

.pg-subview-toggle.pg-info {
    background-image: url('./info.svg');
    background-size: 100% 100%;
}

.pg-treeleaf {
    border-color: rgba(0,0,0,0.2);
}

ul.pg-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 10px 0px;
}

ul.pg-menu > li {
    padding: 5px 15px;
    cursor: default;
}

ul.pg-menu > li:hover {
    background-color: #b1abab;
}

.pg-tree-level-0  { margin-left: 0; }
.pg-tree-level-1  { margin-left: 1.5em; }
.pg-tree-level-2  { margin-left: 3em; }
.pg-tree-level-3  { margin-left: 4.5em; }
.pg-tree-level-4  { margin-left: 6em; }
.pg-tree-level-5  { margin-left: 7.5em; }
.pg-tree-level-6  { margin-left: 9em; }
.pg-tree-level-6  { margin-left: 10.5em; }
.pg-tree-level-7  { margin-left: 12em; }
.pg-tree-level-9  { margin-left: 13.5em; }
.pg-tree-level-10 { margin-left: 15em; }
.pg-tree-level-11 { margin-left: 16.5em; }
.pg-tree-level-12 { margin-left: 18em; }
.pg-tree-level-13 { margin-left: 19.5em; }
.pg-tree-level-14 { margin-left: 21em; }
.pg-tree-level-15 { margin-left: 22.5em; }
.pg-tree-level-16 { margin-left: 24em; }
.pg-tree-level-17 { margin-left: 25.5em; }
.pg-tree-level-18 { margin-left: 27em; }
